@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Seznam produktů</h1>

<table>
    <thead>
        <tr><th>ID</th><th>Název</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
